
@media screen and (max-width: 960px) { /*when screen get smaller than 960 px */
/* header */
  .header-img {
    height: 300px;
  }
  .header-txt {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
  }
/* call to action button */
  .banner-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  /* flex containers */
  .flex-container {
      display: flex;
      flex-direction: column;
    }
  main {
      width: 100%;
      padding: 0;
    }
  /* sidebar 01 */
  .about-side {
      display: none;
    }
  .pest-controls {
      width: 100%;
    }
  .environment {
      width: 100%;
    }
  .about {
      width:100%;
    }
  #form {
      width: 80%;
      margin: 0 auto;
      padding: 100px;
    }
/* footer */
  .a-01 {
      width: 50%;
    }
  .a-02 {
      width: 50%;
    }
}
@media screen and (max-width: 640px) { /*when screen get smaller than 960 px */
/* general */
  h1, h2, h3 {
    text-align: left;
  }
  /* navigation header */
  .logo {
    padding-top: 20px;
    width: 160px;
  }
  .icons {
    width: 100%;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0px;
    z-index:2;
    margin: 0px;
  }
  .icon {
    width: 25px;
    height: 25px;
  }
  .menu {
    text-align: center;
  }
  /*navigation */
  .nav-container {
    position: fixed; /* fix the position of the nav menu */
    top: 0; /* fix the position of the nav menu to the top*/
    left: 0; /* fix the position of the nav menu to the left */
    height: 100%;
    width: 100%;
    z-index: -1; /* bring the nav menu underneath */
    background: #fff;
    display: none; /*used to make the responsive menu disappear in this breakpoint */
    transition: all .2s ease;
    margin: 0px;
  }
  .nav-menu ul {
      position: absolute;
      top: 15%;
      transform: translateY(-10%);
      width: 100%;
      margin: 0;
  }
  .nav-menu li {
    display: block; /* stack nav menu elements one below eachother */
    /* remove the float and center the content */
    float: none;
    width: 100%;
    text-align: center;
  }
  .nav-menu a {
    padding: 10px 20px; /* reduce distance between menu elements*/
    display: none;/*used to make the responsive menu disappear in this breakpoint */
    transform: translateY(-20px);
    transition: all .2s ease;
    width: 100%;
    border-radius: 0;
  }
  .nav-menu a.current {
    color: black;
    font-weight: 500;
    background: none;
    cursor: default;
  }
  .nav-open {
    /* fix the nav icon 10px to the top and to the right */
    position: fixed;
    right: 10px;
    top: 10px;
    /* fix the nav icon to one line alone */
    display: block;
    width: 48px; /*nav icon size*/
    height: 48px;/*nav icon size*/
    cursor: pointer;
    z-index: 9999; /* position the icon above everything */
    border-radius: 50%;
  }
  .nav-menu i {
    display: block; /*make the nav icon visible */
    width: 20px;
    height: 2px;
    background: black; /* nav icon color */
    border-radius: 2px;
    margin-left: 14px; /* move the icon to the right adding margin on the left */
    transition: transform .2s ease;
  }
  .nav-menu i:nth-child(1) {
    margin-top: 16px;/* move the icon down adding margin on the top */
  }
  .nav-menu i:nth-child(2) {
    margin-top: 4px; /* adjust the top line in the icon */
    opacity: 1; /* make the icon visible */
  }
  .nav-menu i:nth-child(3) {
    margin-top: 4px; /* adjust the bottom line in the icon */
  }
  #nav:checked + .nav-open {
    transform: rotate(45deg); /* rotate nav icon when clicked */
    }
  .nav-menu i:nth-child(1) {
    transform: translateY(6px) rotate(180deg); /* move and rotate top line of the nav icon */
  }
  .nav-menu i:nth-child(2) {
    /* opacity: 0;  not sure what this is for,so i kept it obscured*/
  }
  .nav-menu i:nth-child(3){
    transform: translateY(-6px) rotate(90deg); /* move and rotate bottom line of the nav icon */
  }
  #nav:checked ~ .nav-container {
    z-index: 9998;
    display: block;/*used to show the responsive menu in this breakpoint */
    }
  .nav-menu ul li a {
    display: block;/*used to show the responsive menu in this breakpoint */
    transform: translateY(0);
  }
  /* header */
  .header-img {
    height: 250px;
  }
  .header-txt {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  /* buttons */
  .btn {
    background: none;
    border-bottom: none;
    border-radius: none;
    box-shadow: none;
  }
  .btn:hover {
    background: none;
      box-shadow: none;
  }
  .btn:active, .btn:focus {
    border-bottom: none;
    border-top: none;
    background: none;
  }
  .m-btn {
    color: white;
    background: #FE1600;
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.4);
  }
  .m-btn:hover {
    background: rgba(240, 35, 19, 0.9);
    box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.4);
  }
  .m-btn:active, .m-btn:focus {
      background: #FE1600;
      box-shadow: none;
  }

  /* pods */
  .pod-container {
    padding: 50px 20px 0;
  }
  .text {
    font-size: 0.6rem;
  }
.fas {
  margin-top: 20px;
}
  /* call to action */
  .call-text {
    font-size: 1.2rem;
  }
  /* pest control section */
  .pest-link {
    width: auto;
    padding-top: 50px;
    color: black;
    font-weight: 600;
    text-align: center;
  }
  .pest-link .fas {
    margin-top: 20px;
    color: white;
  }
  .card-container {
    display: flex;
    flex-direction: column;
  }
  /* about section */
  .phone-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /*1 value for one column, 2 values for 2 columns and so on - fr for fraction - relative unite as % - instead of px */
    grid-template-rows: auto;
    grid-gap: 1vw;
    align-items: center;
    padding: 50px 0px 0px;
  }
  /* contact */
  .about .fas {
      border: 1px solid white;
  }
  #form {
    width: 100%;
    padding: 50px;
  }
  /* footer */
  .address-container {
    display: flex;
    flex-direction: column;
  }
  .address-item {
    font-size: 0.8rem;
    padding-right: 0px;
    margin-bottom: 20px;
  }
  .a-01 {
    width: 100%;
    padding-right: 0px;
  }
  .a-02 {
    width: 100%;
    padding-left: 0px;
  }
}
